// Import Vendors
// mrt add less-bootstrap-3
@import "../../packages/bootstrap3-less/lib/less/bootstrap.import.less";
// mrt add less-fontawesome-4
//@import "../../packages/font-awesome-4-less/lib/less/core.import.less";

// Vendor Variables
@import "variables_bootstrap.import.less";
@import "variables_fontawesome.import.less";


/* Import fonts*/
@font-face {
    font-family: AlwaysInMyHeart;
    src: url(fonts/AlwaysInMyHeart.ttf) format("truetype");
}

@font-face {
    font-family: SimplyGlamorous;
    src: url(fonts/SimplyGlamorous.ttf) format("truetype");
}

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,100);

/* CSS declarations go here */

body {
	z-index: 1;
	height:100%;
    background:#FFFFB5;
	font-size:16px;
	//line-height: 1.5em;
	font-family: Josefin Sans;
	font-weight: normal;
}

p{
	font-size:20px;
}


.datepicker { font-size: 13px; }

.row { margin: 0; padding: 0 }

.top-section{
	background:#505D6E url(background.jpg) no-repeat left;
	height:100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#fff;
}

.bottom-section{
	margin-top:5%;
	margin-bottom:5%;
}

.copy{
	background-color:#000;
	color:#fff;
	padding:1%;
}


.highlight {
	color: @brand;
}

html{
	margin: 0;
	height: 100%;
}
iframe{
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	border:0;
}