// Import Vendors
// mrt add less-bootstrap-3
@import "../../packages/bootstrap3-less/lib/less/bootstrap.import.less";
// mrt add less-fontawesome-4
//@import "../../packages/font-awesome-4-less/lib/less/core.import.less";

// Vendor Variables
@import "variables_bootstrap.import.less";
@import "variables_fontawesome.import.less";


/* Import fonts*/
@font-face {
    font-family: AlwaysInMyHeart;
    src: url(fonts/AlwaysInMyHeart.ttf) format("truetype");
}

@font-face {
    font-family: SimplyGlamorous;
    src: url(fonts/SimplyGlamorous.ttf) format("truetype");
}

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,100);

/* CSS declarations go here */
html{
  margin: 0;
  padding: 0;
}

body {
	position: relative;
	font-family: Josefin Sans;
	font-weight: normal;
}

.row { margin: 0; padding: 0 }

.carousel-inner{
	width:100%;
	max-height: 500px !important;
	h1{
 		font-size: 3em;
 	}
 	p{
 		font-size: 1.5em;
 	}
}

.carousel-caption {
  top:15%;
}

button{
	margin: .5em;
	background-color: @brand;

}

.main-steps-row{
	padding: 1em;

}

.main-steps-row-text{
	color: @gray-light;
	padding: 1em;
	font-size: 2em;
	line-height: 1em;
}

.main-steps-row-number{
	font-size: 2.5em;
	color: @brand;
}

.home-feedthank-preview{
	margin: 1em 0em;
}

.feedthank-thumbnail-header{
	margin-bottom: 0px;
	padding: 0px;
	border-style: none;
}

.feedthank-thumbnail-image{
	height: 200px !important;
	width: 100%;
}

.feedthank-thumbnail-caption{
	border-color: @gray-light;
	border-style: solid;
	border-width: thin;
}

.feedthank-thumbnail-title{
	display: block;
	color: black;
	font-size: 1em;
	padding: .3em;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
}

.feedthank-thumbnail-row{
	color: @gray;
	height: 2.5em;
	overflow: hidden;
	font-size: .8em;
	margin:.5em;
}

.feedthank-thumbnail-from-to{
	text-align: right;
	padding: 0px;
}

.feedthank-thumbnail-user{
	width: 20%;
	display: inline;
	cursor: pointer;
}

.edit-feedthank-question-sign{
	color: @brand;
}


.datepicker { font-size: 13px;}

.copy{
	background-color:#000;
	color:#fff;
	padding:1%;
}


.highlight {
	color: @brand;
}

html{
	margin: 0;
	height: 100%;
}
iframe{
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	border:0;
}